/////////color variable////////////
$color-black:#000;
$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;
$color-white:#fff;

$color-gray-dark:#777;
$color-gray-dark-2:#999;
$color-gray-dark-3:#333;


// GRID
$grid-width:114rem;
$color-bue: blue;
$gutter-vertical: 5rem;
// small gutter
$gutter-vertical-small: 3rem;
// space btn the different columns
$gutter-horizontal: 4rem;


//////////////////
// writing the breakpoints
$bp-bigDesktop: 60rem;
$bp-largest: 60rem;
$bp-large:56.25rem;
$bp-medium:49.75rem;
$bp-small:41.876rem
