{% extends 'books/base.html' %}
{% load static  %}

    {% block content %}

    <!-- navbar -->
    {% include 'books/snippets/navbar.html' %}
    <!-- end of navbar -->

    <!-- list of all books available in the library -->
    <!-- card section -->
    <div class="row u-margin-top-medium">
        {% for book in all_books %}
        <div class="col-1-of-4">
            <!-- styling the card -->
            <div class="card2">
                <!-- card picture -->
                <div class="card2__side">
                    {% if book.upload  %}
                    <div class="card2__picture u-margin-bottom-mini">
                       <img src="{{ book.upload.url }}" class="card2__picture--2" />
                    </div>
                    {% endif %}
                    <div class="card2__text">
                        <p>{{ book.body|truncatewords:8|linebreaks }}</p>
                    </div>
                    <!-- placing the button -->
                    <div class="card2__btn-view u-margin-top-small">
                        <a href="" class="btn-text">view book &rarr;</a>
                    </div>

                </div>
                   
            </div>
        </div>
        {% cycle "" "" "" " </div><div class='row'><div class=''>" %}
        
        {% endfor %}
    </div>
</div>
        

       
    {% endblock %}