{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- icon fonts css -->
    <link rel="stylesheet" href="{% static 'css/icon-font.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link href = "https://fonts.googleapis.com/css?family=Montserrat:400,700" rel='stylesheet' type='text/css'>
    <title>Gulu Pubilc Library</title>
  </head>

  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>