.section-features {
    padding: 2rem 0;
    background-color: $color-grey-light-1;
    position: relative;


    
}

// specifications section
.section-specifications {
    padding: 5rem 0;
    background-color: $color-grey-light-2;

    
   
}

// designing the detail section
.section-detail {
    padding: 1rem 0;
    background-color: $color-white;
}

// container for detail page
.container {
    max-width: 88.7rem;
    margin: 2rem auto;
    display: flex;
    
}