.section-features {
    height: 76rem;
    background-color: $color-grey-light-1;
    position: relative;
}

// specifications section
.section-specifications {
    padding: 5rem 0;
    background-color: $color-grey-light-2;
    height: 37rem;
}