// animation for button

@keyframes moveInBottom {
    // specify what happens at each time of animation
    0% {
        // initial animation to be 0
        opacity: 0;
        // we want the text to be initially at the left then shift to the right so we use animate X
        transform: translateY(2rem);
    }
    80% {
        /* to make the transition move a position to the ryt before it settles down */
        transform: translateY(-1rem);
    }
    100% {
        opacity: 1;
        /* we want it to look as it does ryt now */
        transform: translateY(0);
    }
}