

.heading-primary {
    color:$color-grey-light-2;
    /* to increase margin to the bottom  */
    margin-bottom: 5rem;
    text-transform: uppercase;
    /* to remove the shake upwards in animation */
    backface-visibility: hidden;
    
    
    
}
/* styling the text */
.heading-primary--main{
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: .8rem;

    @media only screen and (max-width:$bp-medium) {
        font-size: 3rem;
        letter-spacing: .6rem;
    }

  
}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.8rem;
    font-weight: 600;    
    border-bottom: .1rem solid $color-grey-light-2; 
    display: inline-block;  
    background-image: linear-gradient($color-grey-light-2, $color-grey-light-2);
    -webkit-background-clip: text;
    color: transparent;
    transform:translate(0%, 0);

    @media only screen and (max-width:$bp-medium) {
        font-size: 1.5rem;
        letter-spacing: 1.4rem;
    }

}

.heading-secondary {
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2rem;

   
}

.heading-tetiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;

    &--1 {
        text-transform: capitalize;
        float: right;
    }
    
}

.paragraph {
    font-size:1.6rem;
    // to remove space in the last part of the paragraph
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}