ul li.drop {
	position: relative;
	
}


.dropOut .triangle {
	width: 0;
	height: 0;
	position: absolute;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid white;

	&--0 {
		top: -8px;
		left: 50%;
		margin-left: -8px;
	}
	&--1 {
		top: -8px;
		left: 50%;
		margin-left: -4px;	
	}
}
.dropdownContain {
	width: 160px;
	position: absolute;
	z-index: 2;
	&--0 {
		left: 50%;
		margin-left: -100px; /* half of width */
		top: -400px;
	}
	
	&--1 {
		right: 5%;
		margin-left: -130px;
		top: -400px;
	}
}
.dropOut {
	width: 200px;
	background: white;
	float: left;
	position: relative;	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
	&--0 {
		margin-top: 0px;
		opacity: 0;
	}
}

.dropOut ul {
	float: left;
	padding: 10px 7px;
}
.dropOut ul li a{
	text-align: left;
	text-decoration: none;
	cursor: pointer;
	font-size: 1.3rem;
	float: left;
	width: 164px;
	padding: 12px 0 10px 15px;
	margin: 0px 10px;
	color: $color-gray-dark-3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background .1s ease-out;
	-moz-transition: background .1s ease-out;
	-ms-transition: background .1s ease-out;
	-o-transition: background .1s ease-out;
	transition: background .1s ease-out;
}

.dropOut ul li:hover {
	background: #f6f6f6;
	
	&:not(:nth-child(0)){
                
		a {
			&::after {
				background: none repeat scroll 0 0 transparent;
				bottom: 0;
				content: "";
				display: block;
				height: 2px;
				left: 50%;
				position: absolute;
				background: none;
				transition: width 0.3s ease 0s, left 0.3s ease 0s;
				width: 0;
			}

			// &:hover::after {
			// 	width: 100%; 
			// 	left: 0;
			// }
		}
	}
}

ul li:hover .dropdownContain {
	&--0 {
		top: 45px;
	}
	&--1 {
		top:108px;
	}
	}
ul li:hover .underline { border-bottom-color: #777; }
ul li:hover .dropOut { opacity: 1; margin-top: -8px; }

// how to make an entire section not inherit css from parent