.footer {
    background-color: $color-gray-dark-3;
    padding: 4rem 0;
    font-size: 1.6rem;

    @media only screen and (max-width:$bp-medium) {
        font-size: 1.2rem;
    }
    

    &__logo-box {
        text-align: center;
        margin-bottom: 2rem;
    }

    // styling the logo
    &__logo {
        width: 10rem;
        height: auto;
    }

    // navigation
    &__navigation {
        border-top: .1rem solid $color-grey-light-2;
        padding-top: 1rem;
        display:table;
        margin:0px auto 0px auto;
       
    }

    &__list {
        list-style: none;
    }

    // to display as a block
    &__item {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 8.5rem;
            @media only screen and (max-width:47.5em) {
                margin-right: 6rem;
            }
        
        }

    }

    &__link {
        &:link,
        &:visited{
            color: $color-grey-light-1;
            background-color: $color-gray-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
        }

        // performing hover effects
        &:hover,
        &:active {
            color: $color-black;
            background-color: #fff;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
        }
    }

    // copyright section
    &__copyright {
        width: 80%;
        text-align: center;
        // --centering content in the middle of div for row
        display:table;
        margin:0px auto 0px auto;
        // margin-left: 16rem;
        margin-top: 5rem;


    }


}

// .row1{
//     display:flex;
// }
