@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  80% {
    /* to make the transition move a position to the ryt before it settles down */
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    /* we want it to look as it does ryt now */
    transform: translateY(0); } }

/* general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color: #777;
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (min-width: 68.75em) {
    body {
      padding: 3.5rem; } }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0;
      margin-right: 0; } }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 55%; } }

.heading-primary {
  color: #eee;
  /* to increase margin to the bottom  */
  margin-bottom: 5rem;
  text-transform: uppercase;
  /* to remove the shake upwards in animation */
  backface-visibility: hidden; }

/* styling the text */
.heading-primary--main {
  display: block;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: .8rem; }
  @media only screen and (max-width: 60em) {
    .heading-primary--main {
      font-size: 3rem;
      letter-spacing: .6rem; } }

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  letter-spacing: 1.8rem;
  font-weight: 600;
  border-bottom: 0.1rem solid #eee;
  display: inline-block;
  background-image: linear-gradient(#eee, #eee);
  -webkit-background-clip: text;
  color: transparent;
  transform: translate(0%, 0); }
  @media only screen and (max-width: 60em) {
    .heading-primary--sub {
      font-size: 1.5rem;
      letter-spacing: 1.4rem; } }

.heading-secondary {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem; }

.heading-tetiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }
  .heading-tetiary--1 {
    text-transform: capitalize;
    float: right; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 5rem  !important; }

.u-margin-bottom-medium {
  margin-bottom: 3rem  !important; }

.u-margin-bottom-small {
  margin-bottom: 1rem  !important; }

.u-margin-bottom-mini {
  margin-bottom: -2rem  !important; }

.u-margin-top-big {
  margin-top: 5rem !important; }

.u-margin-top-medium {
  margin-top: 3rem !important; }

.u-margin-top-small {
  margin-top: 1rem !important; }

.head-latest {
  padding-top: 3rem; }

.btn {
  transform: translate(0, 0); }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 8rem;
    /* all properties are enabled to be translated to .2 seconds */
    transition: all .2s;
    /* position relative to ::after */
    position: relative; }
    .btn:link:hover, .btn:visited:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 2rem rgba(0, 0, 0, 0.2); }
    .btn:link:active, .btn:visited:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem rgba(0, 0, 0, 0.2); }
  .btn--color {
    background-color: red;
    color: #fff; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 8rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--color::after {
    background-color: red; }
  .btn:hover::after {
    /* transform scale increases the element */
    transform: scaleX(1.4) scaleY(1.6);
    /* to make the element fade out */
    opacity: 0; }
  .btn--animated {
    animation: moveInBottom .5s ease-out;
    /* animation fill mode. it applies the style of 0% before animation starts */
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #333;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid red;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: red;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.2rem);
  border-radius: 1rem; }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.card {
  height: 52rem; }
  @media only screen and (max-width: 56.25em) {
    .card {
      height: 35rem; } }
  .card__side {
    background-color: #fff;
    height: 52rem;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .card__side {
        display: flex;
        height: 35rem; } }
  .card__picture {
    background-size: cover;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px; }
    .card__picture--1 {
      width: 36rem;
      height: 24rem;
      border: none; }
      @media only screen and (max-width: 56.25em) {
        .card__picture--1 {
          width: 35rem;
          height: 35rem; } }
    .card__picture--2 {
      width: 18rem;
      height: 18rem;
      border: none; }
  .card__text {
    padding: 2rem;
    font-size: 1.5rem;
    height: 18rem; }
  .card__btn-view {
    position: absolute;
    left: 50%;
    transform: translate(-60%, -50%); }
    @media only screen and (max-width: 56.25em) {
      .card__btn-view {
        position: absolute;
        top: 15rem;
        left: 50%;
        transform: translate(11%, -27%); } }
    @media only screen and (max-width: 37.5em) {
      .card__btn-view {
        position: absolute;
        top: 15rem;
        left: 50%;
        transform: translate(55%, 10%); } }

.card2 {
  height: 38rem; }
  .card2__side {
    background-color: #fff;
    height: 38rem;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    position: relative; }
  .card2__picture {
    background-size: cover;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px; }
    .card2__picture--2 {
      width: 26rem;
      height: 20rem;
      border: none; }
      @media only screen and (max-width: 56.25em) {
        .card2__picture--2 {
          width: 100%;
          height: 25rem; } }
  .card2__text {
    padding: 2rem;
    font-size: 1.5rem;
    height: 12rem; }
    @media only screen and (max-width: 56.25em) {
      .card2__text {
        height: 8rem; } }
  .card2__btn-view--1 {
    position: absolute;
    top: 58rem;
    transform: translate(111%, -28%); }
  .card2__btn-view--2 {
    position: absolute;
    left: 50%;
    width: 11rem;
    transform: translate(-54%, -11%); }

.detailCard {
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 1rem 1.5rem 4rem rgba(0, 0, 0, 0.15);
  position: relative;
  height: 50rem; }
  .detailCard__picture {
    background-size: cover; }
    .detailCard__picture--1 {
      width: 100%;
      height: 50rem; }

.content {
  padding: 2rem 5rem;
  height: 25rem; }

.contacts {
  position: relative;
  cursor: pointer; }

a, li {
  color: #6b6b6b;
  text-decoration: none; }

.containerDropdown {
  padding: 4rem 3rem; }

.bottomline {
  height: 3px;
  border-top: 1px solid #777;
  margin-bottom: 7px; }

.dropdown {
  position: absolute;
  cursor: pointer;
  width: 38rem;
  margin: 10px;
  border: 1px solid #eee;
  right: -14rem;
  top: 2.5rem;
  transition: all 0.25s ease-out;
  transform: scale(0);
  box-shadow: 0 2px 3px #ccc;
  z-index: 2; }

.dropdown.active {
  transform: scale(1);
  transition: all 0.25s cubic-bezier(0.5, 1.8, 0.9, 0.8);
  background-color: #fff; }

.contact-row1 {
  display: flex;
  border-bottom: 2rem; }

.name {
  flex: 0 0 50%;
  margin-right: 2rem; }
  .name__address {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.222px;
    text-transform: capitalize;
    color: #000; }
  .name__detail {
    font-size: 1.2rem; }

.email__address {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.222px;
  text-transform: capitalize;
  color: #000; }

.email__detail {
  font-size: 1.2rem; }

.contact-row2 {
  display: flex; }

.phoneNumber {
  flex: 0 0 50%;
  margin-right: 2rem; }
  .phoneNumber__address {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.222px;
    text-transform: capitalize;
    color: #000; }
  .phoneNumber__detail {
    font-size: 1.2rem; }

.streetAddress__address {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.222px;
  text-transform: capitalize;
  color: #000; }

.streetAddress__detail {
  font-size: 1.2rem; }

.specification-box {
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .specification-box:not(:last-child) {
      border-bottom: 1px solid #ddd; } }
  .specification-box__icon {
    font-size: 3rem;
    margin-bottom: 5px; }

.search {
  padding: 5rem 25rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    padding: .7rem 2rem;
    border-radius: 8px;
    width: 85%;
    transition: all .2s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: #f0eeee; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #ccc; }
  .search__input:focus + .search__button {
    background-color: #f0eeee; }
  .search__button {
    border: none;
    background-color: #f4f2f2; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translate(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: #333; }

.detailImage {
  flex: 0 0 50%; }

.contentBody {
  flex: 1; }

ul li.drop {
  position: relative; }

.dropOut .triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white; }
  .dropOut .triangle--0 {
    top: -8px;
    left: 50%;
    margin-left: -8px; }
  .dropOut .triangle--1 {
    top: -8px;
    left: 50%;
    margin-left: -4px; }

.dropdownContain {
  width: 160px;
  position: absolute;
  z-index: 2; }
  .dropdownContain--0 {
    left: 50%;
    margin-left: -100px;
    /* half of width */
    top: -400px; }
  .dropdownContain--1 {
    right: 5%;
    margin-left: -130px;
    top: -400px; }

.dropOut {
  width: 200px;
  background: white;
  float: left;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out; }
  .dropOut--0 {
    margin-top: 0px;
    opacity: 0; }

.dropOut ul {
  float: left;
  padding: 10px 7px; }

.dropOut ul li a {
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.3rem;
  float: left;
  width: 164px;
  padding: 12px 0 10px 15px;
  margin: 0px 10px;
  color: #333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background .1s ease-out;
  -moz-transition: background .1s ease-out;
  -ms-transition: background .1s ease-out;
  -o-transition: background .1s ease-out;
  transition: background .1s ease-out; }

.dropOut ul li:hover {
  background: #f6f6f6; }
  .dropOut ul li:hover:not(:nth-child(0)) a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: none;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0; }

ul li:hover .dropdownContain--0 {
  top: 45px; }

ul li:hover .dropdownContain--1 {
  top: 108px; }

ul li:hover .underline {
  border-bottom-color: #777; }

ul li:hover .dropOut {
  opacity: 1;
  margin-top: -8px; }

.footer {
  background-color: #333;
  padding: 4rem 0;
  font-size: 1.6rem; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      font-size: 1.2rem; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 2rem; }
  .footer__logo {
    width: 10rem;
    height: auto; }
  .footer__navigation {
    border-top: 0.1rem solid #eee;
    padding-top: 1rem;
    display: table;
    margin: 0px auto 0px auto; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 8.5rem; }
      @media only screen and (max-width: 47.5em) {
        .footer__item:not(:last-child) {
          margin-right: 6rem; } }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
  .footer__link:hover, .footer__link:active {
    color: #000;
    background-color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .footer__copyright {
    width: 80%;
    text-align: center;
    display: table;
    margin: 0px auto 0px auto;
    margin-top: 5rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 68.75em) {
      .row:not(:last-child) {
        margin-bottom: 4rem; } }
  @media only screen and (max-width: 68.75em) {
    .row {
      max-width: 105rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 4rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 5rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 5rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2* ((100% - 2 * 5rem) / 3 + 5rem)); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 5rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 5rem) / 4) + 5rem); }
  .row .col-3-of-4 {
    width: calc(3 *((100% - 3 * 5rem) / 4) + 2*5rem); }

.section-primary {
  background-image: linear-gradient(to right bottom, rgba(119, 119, 119, 0.8), rgba(119, 119, 119, 0.8)), url(../images/lib.jpg);
  background-size: cover;
  height: 55vh;
  /* placing the position to relative */
  position: relative; }

/* centering the text */
.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transforming the text so as to be in the middle */
  transform: translate(-50%, -50%);
  text-align: center;
  /* to remove the shake upwards in animation */
  backface-visibility: hidden; }

/* sizing the logo */
.header {
  background-position: top;
  /* displaying the lists in block */ }
  .header__logo {
    background-color: #f7f7f7; }
  .header__logo--box {
    width: 8%; }
  .header__logo--navbox {
    list-style: none;
    float: right;
    margin-top: 3rem;
    /* to display content in block */ }
    @media only screen and (max-width: 37.5em) {
      .header__logo--navbox {
        margin-top: -20rem;
        display: none; } }
    @media only screen and (min-width: 37.5em) {
      .header__logo--navbox li {
        display: inline-block; } }
    .header__logo--navbox li:not(:last-child) {
      margin-right: 1.2rem; }
    .header__logo--navbox li:nth-child(odd) a::after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #333;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0; }
    .header__logo--navbox li:nth-child(odd) a:hover::after {
      width: 100%;
      left: 0; }
    .header__logo--navbox li a {
      text-decoration: none;
      text-transform: capitalize;
      font-size: 1.6rem;
      color: #000;
      padding: 1.8rem 2rem;
      position: relative; }

@media only screen and (min-width: 37.5em) {
  .navigation {
    display: none; } }

@media only screen and (max-width: 37.5em) {
  .navigation {
    height: 0; }
    .navigation__checkbox {
      display: none; }
    .navigation__button {
      background-color: orangered;
      height: 5rem;
      width: 5rem;
      position: fixed;
      border-radius: 50%;
      top: 1.5rem;
      left: 61rem;
      z-index: 2000;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
      text-align: center;
      cursor: pointer; }
    .navigation__background {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      position: fixed;
      top: 1.5rem;
      left: 61rem;
      background-color: orangered;
      z-index: 1000;
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
    .navigation__navi {
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1500;
      opacity: 0;
      width: 0;
      transition: all 0.8s cubic-bezier(0.68, -0.05, 0.265, 1.55); }
    .navigation__list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style: none;
      text-align: center;
      width: 100%; }
    .navigation__item {
      margin: 5rem; }
    .navigation__link:link, .navigation__link:visited {
      font-size: 3rem;
      font-weight: 300;
      color: #fff;
      padding: 1rem 2rem;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      background-color: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
      background-size: 150%;
      transition: all .4s; }
      .navigation__link:link:hover, .navigation__link:link:active, .navigation__link:visited:hover, .navigation__link:visited:active {
        background-position: 100%;
        color: #333;
        transform: translateX(1rem); }
    .navigation__checkbox:checked ~ .navigation__background {
      transform: scale(80); }
    .navigation__checkbox:checked ~ .navigation__navi {
      opacity: 1;
      width: 100%; }
    .navigation__icon {
      position: relative;
      margin-top: 2.6rem;
      margin-right: -0.3rem; }
      .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        width: 3rem;
        height: .2rem;
        background-color: #333;
        display: inline-block;
        transition: all .2s; }
      .navigation__icon::before, .navigation__icon::after {
        content: "";
        position: absolute;
        left: 0; }
      .navigation__icon::before {
        top: -1rem; }
      .navigation__icon::after {
        top: 1rem; }
    .navigation__button:hover .navigation__icon::before {
      top: -1.2rem; }
    .navigation__button:hover .navigation__icon::after {
      top: 1.2rem; }
    .navigation__checkbox:checked + .navigation__button .navigation__icon {
      background-color: transparent; }
    .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
      top: 0;
      transform: rotate(135deg); }
    .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
      top: 0;
      transform: rotate(-135deg); } }

.section-features {
  padding: 2rem 0;
  background-color: #f7f7f7;
  position: relative; }

.section-specifications {
  padding: 5rem 0;
  background-color: #eee; }

.section-detail {
  padding: 1rem 0;
  background-color: #fff; }

.container {
  max-width: 88.7rem;
  margin: 2rem auto;
  display: flex; }
