
<li class="contacts">
  <a >contacts</a>
  <div class="kebab">
    <div class="dropdown">
      <!-- <li><a href="http://www.g.com">Art</a></li>
      <li><a href="http://www.g.com">Coding</a></li>
      <li><a href="http://www.g.com">Design</a></li>
      <li><a href="http://www.g.com">Web Development</a></li> -->
      <p>0788926713</p>
      <p>admin@admin.com</p>
      <p>Bar de ge</p>
    </div>
  </div>
</li>


<!-- <div class="ContactBox" id="ContactBox">
    <div class="Contact" id="Contact">
        <h1 class="title">0788926713</h1>
        <p class="location">
            plot 10, Bar de ge zone
        </p>
        <h1 class="email">gululib@admin.com</h1>
    </div>
</div> -->
