
<li class="contacts">
  <a >contacts</a>
  <div class="kebab">
    <div class="dropdown">
      <div class="containerDropdown">
        <div class="bottomline"></div>
      <div class="contact-row1 u-margin-bottom-small">
        <div class="name">
          <div class="name__address">
            library name
          </div>
          <div class="name__detail">
            the gulu public library
          </div>  
  
        </div>
        <div class="email">
          <div class="email__address">
            Email Address
          </div>
          <div class="email__detail">
            thegulupublicibrary@org.ug
          </div>  
  
        </div>
      </div>
  
      <div class="contact-row2">
        <div class="phoneNumber">
            <div class="phoneNumber__address">
              phone Number 
            </div>
            <div class="phoneNumber__detail">
             tel- 0414-346-567,
             tel- 0774-674-234
            </div>  
  
        </div>
        <div class="streetAddress">
            <div class="streetAddress__address">
              Street Address
            </div>
            <div class="streetAddress__detail">
              plot 10, Bar de ge zone
            </div>  
  
        </div>
      </div>

      </div>
    </div>
</li>


<!-- <div class="ContactBox" id="ContactBox">
    <div class="Contact" id="Contact">
        <h1 class="title">0788926713</h1>
        <p class="location">
            
        </p>
        <h1 class="email">gululib@admin.com</h1>
    </div>
</div> -->
