 <!-- section for specification -->
 <section class="section-specifications">
    <!-- writing the markup -->
    <div class="row">
        <div class="col-1-of-4">
            <div class="specification-box">
                <i class="specification-box__icon icon-basic-clock"></i>
                <h3 class="heading-tetiary u-margin-bottom-small">Computer Area</h3>
                <p class="specification-box__text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                </p>
            </div>
        </div>
        <div class="col-1-of-4">
            <div class="specification-box">
                <i class="specification-box__icon icon-basic-clock"></i>
                <h3 class="heading-tetiary u-margin-bottom-small">reading space</h3>
                <p class="specification-box__text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                </p>
            </div>
        </div>
        <div class="col-1-of-4">
            <div class="specification-box">
                <i class="specification-box__icon icon-basic-bolt"></i>
                <h3 class="heading-tetiary u-margin-bottom-small">book donations</h3>
                <p class="specification-box__text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                </p>
            </div>
        </div>
        <div class="col-1-of-4">
            <div class="specification-box">
                <i class="specification-box__icon icon-basic-ban"></i>
                <h3 class="heading-tetiary u-margin-bottom-small">book properties</h3>
                <p class="specification-box__text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                </p>
            </div>
        </div>

    </div>
</section>