<footer class="footer">
    <!-- placing the footer logo -->
    <div class="footer__logo-box">
        <img class="footer__logo" src="../../static/images/logo.png" alt="Logo">
    </div>
    <!-- pacling the footer items -->
    <div class="row">
        <div class="footer__navigation">
            <ul class="footer__list">
                <li class="footer__item"><a href="" class="footer__link">home</a></li>
                <li class="footer__item"><a href="" class="footer__link">about</a></li>
                <li class="footer__item"><a href="" class="footer__link">services</a></li>
                <li class="footer__item"><a href="" class="footer__link">contact</a></li>
                <li class="footer__item"><a href="" class="footer__link">my account</a></li>
            </ul>
        </div>
    </div>

    <!-- copyright section -->
    <div class="row">
        <p class="footer__copyright">
            Built by <a href="" class="footer__link">JimmyJones</a> for cyber security purposes
            <a href="" class="footer__link">and others</a>. copyright &copy; by Okidi Jimmy
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut inventore commodi doloremque laborum error sequi quia doloribus, minus maxime officiis enim. Tempore architecto necessitatibus blanditiis hic accusamus, a laboriosam autem!
        </p>
    </div>
</footer>