<header class="header">
    <!-- creating the logo box -->
    <div class="header__logo">
        <img class="header__logo--box" src="../../static/images/logo.png" alt="Logo">
        <div class="header__logo--navbox clearfix">
            <ul>
                <li><a href="">about</a></li>
                <li><a href="">services</a></li>
                <li><a href="">contacts</a></li>
                <li><a class="button" href="">My Account</a></li>
            </ul>
        </div>
    </div>
    <section class="section-primary">
        <!-- creating the primary header -->
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">find your next</span>
            <span class="heading-primary--sub">great book</span>
            </h1>
             <!-- adding the button -->
             
            <a href="" class="btn btn--color btn--animated">See Listing</a>
             
            

        </div>

    </section>

    
</header>

   