<header class="header">
    <!-- navbar -->
    {% include 'books/snippets/navbar.html' %}
    <!-- end of navbar -->
    <section class="section-primary">
        <!-- creating the primary header -->
        <div class="header__text-box">
            <h1 class="heading-primary">
              <span class="heading-primary--main">find your next</span>
            <span class="heading-primary--sub">great book</span>
            </h1>         
            

        </div>

    </section>

    
</header>

   