<!-- creating the logo box -->
<div class="header__logo">
    <img class="header__logo--box" src="../../static/images/logo.png" alt="Logo">
    <div class="header__logo--navbox clearfix">
        <ul>
            <li><a href="">about</a></li>
            <!-- creating a dropdown -->
            <li class="drop"><a href="">services</a>
                <div class="dropdownContain">
                    <div class="dropOut">
                        <div class="triangle"></div>
                        <ul>
                            <li><a href="">Training</a></li>
                            <li><a href="">Stocks & Donations</a></li>
                            <li><a href="">Co-operation</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="">contacts</a></li>
            <li><a class="button" href="">My Account</a></li>
        </ul>
    </div>
</div>


 