.card {
    height: 52rem;

    @media only screen and (max-width:$bp-medium) {
        height: 35rem;
    }
    
   

    &__side {
        background-color: $color-white;
        height: 52rem;
        border-radius: 3px;
        overflow: hidden;
        -webkit-box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        position: relative;
        @media only screen and (max-width:$bp-medium) {
            display: flex;
            height: 35rem;
        }
        
    }
    

    &__picture {
        background-size: cover;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;

        &--1{
            width: 36rem;
            height: 24rem;
            border: none;

            @media only screen and (max-width:$bp-medium) {
               width: 35rem;
               height: 35rem;
            }
        }
        &--2{
            width: 18rem;
            height: 18rem;
            border: none;
        }
    } 
    
    // styling the text
    &__text {
        padding: 2rem;
        font-size: 1.5rem;
        height: 18rem;
    }

    &__btn-view{
        position: absolute;
        left: 50%;
        transform:translate(-60%, -50%);

        @media only screen and (max-width:$bp-medium) {
            position: absolute;
            top: 15rem;
            left: 50%;
            transform:translate(11%, -27%);
        }
        @media only screen and (max-width:$bp-small) {
            position: absolute;
            top: 15rem;
            left: 50%;
            transform:translate(55%, 10%);
        }

    }
 
}