.card2 {
    height: 38rem;
   

    &__side {
        background-color: $color-white;
        height: 38rem;
        border-radius: 3px;
        overflow: hidden;
        -webkit-box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        position: relative;
        
        
    }
    

    &__picture {
        background-size: cover;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;

        &--2{
            width: 16rem;
            height: 16rem;
            border: none;
        }
    } 
    
    // styling the text
    &__text {
        padding: 2rem;
        font-size: 1.5rem;
        height: 16rem;
    }

    &__btn-view{
        position: absolute;
        left: 50%;
        width: 10rem;
        transform:translate(-60%, -50%);

    }
 
}