$cubic-out: cubic-bezier(.32,2.04,.85,.54);
$cubic-in: cubic-bezier(.72,1.2,.71,.72);
$cyan: #00bcd4;
$yellow: #ffeb3b;
$grey: #9e9e9e;

$shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);

// Kebab styling

.contacts {
  position: relative;  
  cursor: pointer;
}



a, li {
  color: darken($grey, 20%);
  text-decoration: none;
}

.containerDropdown {
  padding: 4rem 3rem;
}
.bottomline {
  height: 3px;
  border-top: 1px solid $color-gray-dark;
  margin-bottom: 7px;
}
.dropdown {  
    position: absolute;
    cursor: pointer;  
    width: 38rem;
    margin: 10px;
    border: 1px solid #eee;
    right: -14rem;
    top: 2.5rem;
    transition: all 0.25s ease-out;
    transform: scale(0);
    // transform-origin: 100% 0;
    box-shadow: 0 2px 3px #ccc;
    z-index: 2;
 
}

.dropdown.active {
  transform: scale(1);
  transition: all 0.25s cubic-bezier(.5,1.8,.9,.8);
  background-color: #fff;
}
.contact-row1{
  display: flex;
  border-bottom: 2rem;
}

.name{
  flex:0 0 50%;
  margin-right: 2rem;

  &__address{
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.222px;
    text-transform: capitalize;
    color: #000;

  }
  &__detail {
    font-size: 1.2rem;

  }
}

.email {
  &__address {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.222px;
    text-transform: capitalize;
    color: #000;
  }
  &__detail {
    font-size: 1.2rem;
  }
}

.contact-row2 {
  display: flex;
}

.phoneNumber{
  flex:0 0 50%;
  margin-right: 2rem;

  &__address {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.222px;
    text-transform: capitalize;
    color: #000;
  }

  &__detail {
    font-size: 1.2rem;
  }
}

.streetAddress {
  &__address {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.222px;
    text-transform: capitalize;
    color: #000;
  }

  &__detail {
    font-size: 1.2rem;
  }
}